
.menu{
    display: none;
}

.header{
    padding: 10px 0px;
}

.contacts{
    display: none;
}
.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.burger-btn{
    background-color: transparent;
    border: none;
    padding: 0;
    line-height:0;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    
    

    
   

    &__icon{
        fill:#000000;
        
        
    }

    
    &__icon:hover{
        fill: $akcent-color;
        
    }

    &_icon-shadow:hover{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.mobile-menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $white-font-color;
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;


        &__close-btn{
            background-color: transparent;
            border: none;
            padding: 0;
            line-height:0;
        }
        &__close-icon{
            width: 40px;
            height: 40px;
        }
        &__container{
            position: relative;
            min-height: 200px;
            padding-top: 48px;
            padding-left: 40px;

        }
}


.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

.mobile-menu__close-btn-position{
    position: absolute;
    top: 10px;
    right: 15px;
}
.mobile-menu__close-btn-position:hover{
        fill: $akcent-color;
}
.nav-list__link{
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.02em;
    color: $secondary-font-color;

    &:hover{
        color: $akcent-color;
    }
    
}
.nav-list__item:not(:last-child){
        
    margin-bottom: 32px;   
}

.nav-list_link-current-underline:hover{
    border-bottom: 3.71px solid $akcent-color;
    border-radius: 2px;
}
.nav-list_link-current-underline{
    color: $akcent-color;
}
.contacts-mobile-menu{
        padding-top: 302px;
        padding-left: 40px;

}
.contacts-mobile-menu__item-tel{
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: #2196F3;
}

.contacts-mobile-menu__item-email{
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: #757575;
}

.contacts-mobile-menu__item{
    margin-top: 32px;
}
.social-network{
    padding-top: 64px;
    padding-left: 40px;
    padding-bottom: 48px;
}
.social-network__list{
    display: flex;
    align-items: center;

}

.social-network__list-item{
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

        &:last-child{
            border-right: none;
        }
        &:first-child{
            padding-left: 0;
        }
        

}



.social-network__list-link{
    font-family: $main-font;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color:$akcent-color;

}



@media screen and (min-widht: 768px){
    
    .burger-btn{
        display: none;
    }
    
    .header{
        border-bottom: 1px solid #ECECEC;
    }
    
    .container-header{
        display: flex;
        align-items:center;
        padding: 24px 15px 25px;
    }
    
    
    .navigation{
    display: flex;
    align-items: center;
    }
    
    .menu {
         display: flex;
         align-items: center;
         
             &__link{
             color: $secondary-font-color;
             font-style: normal;
             text-decoration: none;
             font-weight: 500;
             letter-spacing: 0.02em;
             text-align: left;
             font-size: 14px;
             transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            }
            
            &__link:hover,
            &__link:focus{
                color: $akcent-color;
            }
            &__item{
                position: relative;
                
                    &:not(:last-child){
                        margin-right: 51px;
                }
            }
            .menu_link_current_underline {
                color: $akcent-color;
            
                &::after{
                    content: "";
                    display: block;
                    position: absolute;
                    width:100%;
                    left: 0;
                    bottom: -33px;
                    height: 4px;
                    background: $akcent-color;
                    border-radius: 2px;
                    
                }
            }
    }
    
    
}



// .contacts {
//     display: flex;
//     align-items: center;
//     margin-left: auto;

//         &__link-heder {
//             color: $main-font-color;
//             font-size: 14px;
//             text-decoration: none;
//             font-style: normal;
//             font-weight: 500;
//             line-height: 1.15;
//             letter-spacing: 0.02em;
//             text-align: left;
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//         }
//         &__heder:not(:last-child){
//             margin-right: 50px;
  
//         }
// }

// .contacts_link_heder_akcent:hover,
// .contacts_link_heder_akcent:focus{
//     color: $akcent-color;
    
//         & .contacts_akcent_icon{
    
//             fill: $akcent-color;
        
//     }
// }

// .contacts__heder-icon{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-right: 10px;
// }

// .contacts__icon{
    
//     fill: $main-font-color;
// }

