
.our-team{
     background-color: #F5F4FA;
}


.team-list {
          font-family: $main-font;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.2;
          text-align: center;
          letter-spacing: 0.03em;
          color: $secondary-font-color;
          margin-bottom: 10px;
     }
     .position {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 1.2;
          text-align: center;
          letter-spacing: 0.03em;
          color: $main-font-color;
     }
     .developer-card {
              
               margin-top: 30px;
               
               background: #FFFFFF;
               box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
               border-radius: 0px 0px 4px 4px;
          }
          .box-formatting{
                   padding: 30px;
                   
               }








// .our-team{
//     background: #F5F4FA;
// }


// .development-title{
//      font-family: Roboto;
//      font-style: normal;
//      font-weight: 700;
//      font-size: 36px;
//      line-height: 1.2;
//      text-align: center;
//      letter-spacing: 0.03em;
//      color: #212121;
//      margin-bottom: 30px;
     
// }
// .team-list {
//      font-family: $main-font;
//      font-style: normal;
//      font-weight: 500;
//      font-size: 16px;
//      line-height: 1.2;
//      text-align: center;
//      letter-spacing: 0.03em;
//      color: $secondary-font-color;
//      margin-bottom: 10px;
// }
// .position {
//      font-style: normal;
//      font-weight: normal;
//      font-size: 16px;
//      line-height: 1.2;
//      text-align: center;
//      letter-spacing: 0.03em;
//      color: $main-font-color;
// }

// .development-team{
//      display: flex;
//      flex-wrap: wrap;
     
//      margin-left: -30px;
//      margin-top: -30px;
     
// }
// .developer-card {
//      margin-left: 30px;
//      margin-top: 30px;
//      flex-basis: calc((100% - 120px) / 4 );
     
//      background: #FFFFFF;
//      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//      border-radius: 0px 0px 4px 4px;
// }



// .box-formatting{
//     padding: 30px;
    
// }