h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-top: 0px;
    margin-bottom: 0px;
}
ul,
ol{
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

img{
  display: block;
  width: 100%;
}
picture{
  display: block;
  width: 100%;
}

.list {
     list-style: none;
     text-decoration: none;
     font-style: normal;
     padding-left: 0px;
     margin-top: 0px;
     margin-bottom: 0px;
     
}
.section {
      padding-top: 60px;
      padding-bottom: 60px;
}
.link{
    text-decoration: none;
}
body{
    font-family: $main-font;
    color: $main-font-color;
    background-color: #FFFFFF;
    // height: 100vh;
}

@media screen and (min-width:1200px){
  .section {
      padding-top: 94px;
      padding-bottom: 94px;
    }
}


