:root{

    --akcent-color:  #2196F3;
    --background-button: #188CE8;
}
$akcent-color:  #2196F3;
$background-button-hover: #188CE8;
$background-button: #2196F3;
$main-font-color: #757575;
$secondary-font-color: #212121;
$white-font-color:#FFFFFF;
$white-font-color-transparency: rgba(255, 255, 255, 0.6);
$fill-social-icon_footer:#FFFFFF;
$background-social-icon_footer:rgba(255, 255, 255, 0.1);
$fill-social-icon-developer-card: #AFB1B8;
$background-social-icon-developer-card:#FFFFFF;
$background-overlay: rgba(33, 150, 243, 0.9);
$main-font:Roboto;
$secondary-font:Raleway;
$border-overlay: #EEEEEE;
$background-footer:#2F303A; 
